<h2>Quote details</h2>

<p><strong>Agreement:</strong> <%= link_to 'Download', @quote.agreement_url %></p>
<p><strong>Fee:</strong> <%= number_to_currency(@quote.fee) %></p>

<% if @quote.advance %>
  <p><strong>Advance:</strong> <%= number_to_currency(@quote.advance) %></p>
<% end %>

<p><strong>Completion:</strong> <%= @quote.completion_date.to_date.to_formatted_s(:long) %></p>

<% advance_text = @quote.advance ? ", as well as the advance of #{number_to_currency(@quote.advance)}." : '.'%>
<p><em>(By clicking accept you agree to immediately pay the Legal Lighthouse technology fee of $49.99<%= advance_text %>)</em></p>

<% if @quote.pending? %>
  <p><%= link_to 'Accept', accept_quote_path %></p>
  <p><%= link_to 'Reject', reject_quote_path %></p>
  <p><%= link_to 'Request modification', request_quote_modification_path %></p>
<% end %>
