<% content_for :home do %>
  <div class="splash how">
    <%= render 'splash_header' %>
    <div class="details how">
      <div class="details-container">
        <div class="row">
          <div><%= image_tag 'labrynth.jpg' %></div>
          <div>
            <h3><%= t '.section_1.title' %></h3>
            <ul>
              <% t('.section_1.items').each do |item| %>
                <li><%= item %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div>
            <h3><%= t '.section_2.title' %></h3>
            <ul>
              <% t('.section_2.items').each do |item| %>
                <li><%= item %></li>
              <% end %>
            </ul>
          </div>
          <div><%= image_tag 'handshake.jpg' %></div>
        </div>
        <div class="row">
          <div><%= image_tag 'rocket.jpg' %></div>
          <div>
            <h3><%= t '.section_3.title' %></h3>
            <ul>
              <% t('.section_3.items').each do |item| %>
                <li><%= item %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= render 'splash_footer' %>
  </div>
<% end %>
