<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <% if content_for?(:home) %>
    <%= yield(:home) %>
  <% else %>
    <%= render "header" %>
    <%= render "flashes" %>
    <% if content_for?(:profile) %>
      <div class="profile"><%= yield(:profile) %></div>
    <% end %>
    <div class="content">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
    <%= render "splash_footer" %>
  <% end %>
  <%= render "javascript" %>
</body>
</html>
