<% content_for :content do %>
  <div class="container">
    <h2>Inbox</h2>
    <ul class="navigation">
      <% if user_signed_in? %>
        <li><%= link_to_unless_current 'Consultation requests', user_consultation_requests_path %></li>
        <li><%= link_to_unless_current 'Consultations', user_consultations_path %></li>
        <li><%= link_to_unless_current 'Quotes', quotes_path %></li>
      <% elsif lawyer_signed_in? %>
        <li><%= link_to_unless_current 'Consultation requests', lawyer_consultation_requests_path %></li>
        <li><%= link_to_unless_current 'Consultations', lawyer_consultations_path %></li>
        <li><%= link_to_unless_current 'Quotes', lawyer_quotes_path %></li>
      <% end %>
    </ul>
    <div class="items"><%= yield %></div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
